name: Setup Bucket Website Hosting
on:
  workflow_dispatch:
    inputs:
      bucket_name:
        description: 'Bucket name to configure website hosting'
        required: true
        type: string
      endpoint:
        description: 'Ceph admin endpoint'
        required: true
        default: 'https://s3-admin.dynabic.com'
        type: string
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - name: Configure website hosting
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.CEPH_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.CEPH_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: us-east-1
      run: |
        BUCKET="${{ github.event.inputs.bucket_name }}"
        ENDPOINT="${{ github.event.inputs.endpoint }}"

        echo "Configuring website hosting for bucket: $BUCKET"
        echo "Endpoint: $ENDPOINT"

        echo "[1/3] Enabling website hosting..."
        aws --endpoint-url "$ENDPOINT" s3api put-bucket-website \
            --bucket "$BUCKET" \
            --website-configuration '{
                "IndexDocument": {"Suffix": "index.html"},
                "ErrorDocument": {"Key": "404.html"}
            }'
        echo "  Website hosting enabled"

        echo "[2/3] Setting bucket ACL to public-read..."
        aws --endpoint-url "$ENDPOINT" s3api put-bucket-acl \
            --bucket "$BUCKET" \
            --acl public-read
        echo "  Bucket ACL set"

        echo "[3/3] Creating bucket policy..."
        aws --endpoint-url "$ENDPOINT" s3api put-bucket-policy \
            --bucket "$BUCKET" \
            --policy "{
              \"Version\": \"2012-10-17\",
              \"Statement\": [{
                \"Sid\": \"PublicReadGetObject\",
                \"Effect\": \"Allow\",
                \"Principal\": \"*\",
                \"Action\": \"s3:GetObject\",
                \"Resource\": \"arn:aws:s3:::${BUCKET}/*\"
              }]
            }"
        echo "  Bucket policy set"

        echo ""
        echo "Done! Bucket $BUCKET is now configured for website hosting."
        echo "Website URL: http://${BUCKET}.s3-website.dynabic.com/"
